/* Design Specs */
/* ---------------------------------------------- */
/* ---------- Colors ---------- */
/* 
- Purple: #56348b 
- Blue: #312668
- Orange: #f16f0b
- Pale Yellow: #fff9d6
*/
/* ---------- Fonts ---------- */
/* 
- Titles & Anchors: Raleway
- General: Rubik
 */

/* ---------------------------------------------- */
/* General */
html,
body {
  box-sizing: content-box;
  margin: 0;
  font-family: "Rubik", sans-serif;
  background-color: #fff9d6;
  color: #312668;
  font-size: 18px;
  line-height: 1.5em;
  text-align: center;
}

/* Titles */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Raleway", sans-serif;
  color: #f16f0b;
  font-weight: 800;
  margin: 0;
}

/* Anchors */

a {
  cursor: pointer;
  text-decoration: none;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  color: #f16f0b;
}
a:link {
  color: #56348b;
}
a:visited {
  color: #312668;
}
a:hover {
  text-decoration: underline;
  color: #f16f0b;
}

header,
footer {
  width: 100%;
}

header img,
footer img {
  padding-left: 1em;
  max-height: 60px;
}

button {
  font-family: "Raleway", sans-serif;
}

nav {
  display: flex;
  justify-content: space-around;
}
nav a {
  display: inline-block;
}

section {
  padding-top: 2em;
  padding-bottom: 1em;
}

.catalogue {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  margin: 0;
  padding-top: 2em;
}
.catalogue .product {
  margin: auto;
}
.product {
  display: flex;
  flex-direction: column;
}
.product img {
  max-height: 200px;
}

.top,
.bottom {
  max-width: 1720px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr auto 1fr;
}

.title {
  grid-column: 1;
}

nav {
  grid-column: 3;
}

#app {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
