/* Color1: Violent 1 - rgb(86, 52, 139) */
/* Color2: Violet 2 - rgb(49, 38, 104) */
/* Color3: Orange - rgb(241, 111, 11) */
/* Color3: Dark Grey - rgb(54, 54, 52) */

/* Tags */

* {
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
}

p {
  font-size: 18px;
  color: rgb(54, 54, 52);
  text-align: center;
}

a,
span {
  color: rgb(49, 38, 104);
  font-size: medium;
  text-align: right;
}

header {
  text-align: center;
  background-color: white;
  width: 100%;
}

body {
  background-color: rgb(228, 195, 169);
  border: 3px;
  margin: 5px;
  padding: 5px;
  width: 100%;
  text-align: center;
}

footer {
  border: 3px;
  margin: 5px;
  padding: 5px;
}

/* Classes */
.title {
  color: rgb(49, 38, 104);
}

.song {
  position: relative;
}

.uppercase {
  text-transform: uppercase;
}

.publish-time {
  color: gray;
}

.backgroundImageFooter {
  background-image: url("./images/place/localGetsemaniInterior.jpeg");
  background-size: cover;
  background-position: center;
}

.caption {
  display: block;
  line-height: 14px;
  margin-left: 20px;
  padding: 10px;
  position: relative;
  background-color: rgb(241, 111, 11);
  opacity: 1;
}

.menu {
  display: block;
  text-align: left;
  width: fit-content;
}

/* IDs */

#article-title {
  text-transform: capitalize;
  color: rgb(49, 38, 104);
}

/* Chaining */
h3.title {
  text-transform: capitalize;
  color: rgb(86, 52, 139);
  font-size: large;
}

/* Nested Elements */
.product-list li {
  text-transform: capitalize;
  color: rgb(54, 54, 52);
  font-size: medium;
}
